@import '../../../colors.scss';

.container{ 
    width: 30%;
    height: 100%;
    justify-content: center;
    text-align: center;
}

.icon {
    width: 100%;
    height: 30vh;
    border-radius: 10px;
}

.textContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
} 

.text {
    top: 8vh;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    color: $darkBackground;
    font-size: 2.5vh;
    font-weight: 900;
}