@import '../../../colors.scss';

.container {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 30%;
    height: 30vh;
}

.icon {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.textContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.text {
    color: $darkBackground;
    font-size: 5vh;
    font-weight: 900;
    margin-top: -50%;
    transform: translateY(50%);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ad90d4;
}