.firstRow{ 
    display: flex;
    justify-content: center;
}

.sunsetContainer{ 
    position: absolute;
    display: flex;
    justify-content: left;
    margin-left: 10%;
}

.creviceContainer{ 
    position: absolute;
    justify-content: left;
    width: 40%;
    margin-left: 50%;
    margin-top: -24%;
}